{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<title>browse</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body  style="background-color:orange;">


<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">PAST RECRUITERS</span>
  </header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">
  <!-- Photo grid -->
  <div class="w3-row w3-grayscale-min">
    <div class="w3-quarter">
	<br><br><br>
      <img src="{% static 'aws.png' %}" height="300" width="300" onclick="onClick(this)" alt="Amazon Web Services <br> Year - No.of students recruited <br> 2016-2017  :  10 <br> 2017-2018  :  17 <br> ">
          <br><br><br><br><br><br>
	  <img src="https://pbs.twimg.com/profile_images/771717690901704704/3k3ta2pu.jpg" height="300" width="250" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  13 <br> 2017-2018  :  20 <br> ">
      </div>
    
   <div class="w3-quarter">
   <br><br><br>
   <img src="{% static 'finsol.png' %}" height="300" width="250" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  6 <br> 2017-2018  :  16 <br>">
        <br><br><br><br><br>
	<img src="https://www.gyanbyte.com/sites/default/files/2017-05/zoho.jpg" height="300" width="250" onclick="onClick(this)" alt=" <br> Year - No.of students recruited <br> 2016-2017  :  4 <br> 2017-2018  :  14 <br> ">
   
       </div>

    <div class="w3-quarter">
	<br><br><br>
      <img src="{% static 'myally.jpg' %}"" height="300" width="250" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  7 <br> 2017-2018  :  11 <br>  <br>">
          <br><br><br><br><br>
	  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpGpJIq2vzp1onzHOS3g1rvhUP6yrNLzWezrRhh_vjbvAbYrA5" height="300" width="250" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  14 <br> 2017-2018  :  21 <br>  ">
      </div>
	  <div class="w3-quarter">
	  <br><br><br>
      <img src="{% static 'techmojo.jpg' %}" height="300" width="300" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  18 <br> 2017-2018  :  24 <br> ">
          <br><br><br><br><br>
	  <img src="https://pbs.twimg.com/profile_images/975686591992573952/W6HRl5c5_400x400.jpg" height="300" width="300" onclick="onClick(this)" alt="<br> Year - No.of students recruited <br> 2016-2017  :  5 <br> 2017-2018  :  12 <br> ">
      </div>

    
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>


      
  <div class="w3-black w3-center w3-padding-24">project by grp-A12</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>
</html>
